<ion-header>
  <ion-navbar color="urbid-turquoise-dark">
    <ion-title>DETALLE DEL PROYECTO</ion-title>
    <ion-buttons end>
      <button ion-button icon-only  (click)="notification_page()">
        <ion-icon name="notifications" >
          <ion-badge color="urbid-amber-light">10</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
    <button ion-button menuToggle end class="boton">
      <ion-icon name="more"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page background">
  <ion-card no-border>
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col col-12>
            <img  src="http://www.urbidcr.com/img/project_images/{{proyecto.project_image}}"/>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col  col-5>Nombre:</ion-col>
      <ion-col  col-7>{{proyecto.project_name}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col  col-5>Código:</ion-col>
      <ion-col  col-7>{{proyecto.project_code}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col  col-5>Monto a recaudar:</ion-col>
      <ion-col  col-7>{{proyecto.project_cost | currency:"₡"}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col  col-5>Monto recaudado:</ion-col>
      <ion-col  col-7>{{proyecto.project_collected_amount | currency:"₡"}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col  col-12>Descripción:</ion-col>
  </ion-row>
  <ion-row>
      <ion-col  col-12>{{proyecto.project_description}}</ion-col>
  </ion-row>
  <ion-row *ngIf="!isAffiliated">
      <button (click)="afiliarse(proyecto.project_code)" ion-button block  full color="urbid-amber-light">AFILIARSE</button>
  </ion-row>
  <ion-row *ngIf="isAffiliated">
    <button (click)="desafiliarse()" ion-button block  full color="urbid-amber-light">DESAFILIARSE</button>
</ion-row>
  </ion-grid>
</ion-content>
