<ion-header>
  <ion-navbar color="urbid-turquoise-dark">
    <ion-title>FAVORITOS</ion-title>
    <ion-buttons end>
        <button ion-button icon-only  (click)="notification_page()">
          <ion-icon name="notifications" >
            <ion-badge color="urbid-amber-light">10</ion-badge>
          </ion-icon>
        </button>
      </ion-buttons>
      <button ion-button menuToggle end class="boton">
        <ion-icon name="more"></ion-icon>
      </button>
  </ion-navbar>
</ion-header>
<ion-content no-border>
    <h5 class="padding-left">
        Lista de productos
      </h5>
    <hr>
    <ion-grid>
        <ng-container *ngFor="let producto of products">
          <ion-card>
            <ion-row>
                <ion-col col-1  (click)="eliminar_producto_favorito(producto.product_code)">
                    <ion-icon name="close"></ion-icon>
                </ion-col>
                <ion-col col-3>
                  <img  src="http://www.urbidcr.com/img/product_images/{{producto.product_image}}" />
                </ion-col>
                <ion-col col-4>
                    <h4><b>{{producto.product_name}}</b></h4>
                    <p>‎{{producto.product_cost | currency:"₡"}}</p>
                </ion-col>
                <ion-col col-3>
                    <button ion-button small (click)="agregar_producto_cesta(producto.product_code,1)" class="btn-small" >
                        <ion-icon class="small-padding-left" name="cart"> Agregar</ion-icon>
                    </button>
                </ion-col>
            </ion-row>
          </ion-card>
        </ng-container>
        <ion-card *ngIf="isLoaded && products.length == 0" color="danger" outline>
            <ion-card-content>
                <ion-icon name="alert"></ion-icon> No has agregado productos a favoritos
            </ion-card-content>
        </ion-card>
    </ion-grid>
</ion-content>