<ion-header>
  <ion-navbar color="urbid-turquoise-dark">
    <ion-title>MIS PEDIDOS</ion-title>
    <button ion-button menuToggle end class="boton">
      <ion-icon name="more"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content no-border>
    <h5 class="padding-left">
        Lista de pedidos
      </h5>
    <hr>
    <ion-grid>
        <ng-container *ngFor="let myOrder of myOrders">
          <ion-card>
                <ion-row>
                  <ion-col col-6><b>Nº pedido:</b></ion-col>
                  <ion-col col-4>{{myOrder.codigo}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-6><b>Monto compra:</b></ion-col>
                  <ion-col col-3>{{myOrder.montoTotal | currency:"₡"}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-6><b>Estado:</b></ion-col>
                  <ion-col col-6>{{myOrder.status}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-6><b>Forma pago:</b></ion-col>
                  <ion-col col-6>{{myOrder.forma_pago}}</ion-col>
                </ion-row>
                <ion-row justify-content-center>
                   <button ion-button small class="btn-small" (click)="verProductosCompra(myOrder)">
                      <ion-icon class="small-padding-left" name="basket"> Ver detalle</ion-icon>
                    </button>
                </ion-row>
              </ion-card>
        </ng-container>
    </ion-grid>
</ion-content>