<ion-header>
  <ion-navbar color="urbid-turquoise-dark">
		<ion-title>CATEGORÍAS</ion-title>
		
		<ion-buttons end>
				<button ion-button icon-only  (click)="notification_page()">
					<ion-icon name="notifications" >
						<ion-badge color="urbid-amber-light">10</ion-badge>
					</ion-icon>
				</button>
			</ion-buttons>
			<button ion-button menuToggle end class="boton">
				<ion-icon name="more"></ion-icon>
			</button>
  </ion-navbar>
</ion-header>
<ion-content class="card-background-page background">
		<ng-container *ngFor="let categoria of categorias">
			<ion-card (click)="subcategory_page(categoria.category_code)">
					<img  src="http://www.urbidcr.com/img/category_images/{{categoria.category_image}}" style="width: 100%; height: 150px;"/>
					<div class="card-title">{{categoria.category_name}}</div>
			</ion-card>
	</ng-container>
</ion-content>
