<ion-header>
  <ion-navbar color="urbid-turquoise-dark">
    <ion-title>CARRITO</ion-title>
    <ion-buttons end>
        <button ion-button icon-only  (click)="notification_page()">
          <ion-icon name="notifications" >
            <ion-badge color="urbid-amber-light">10</ion-badge>
          </ion-icon>
        </button>
      </ion-buttons>
      <button ion-button menuToggle end class="boton">
        <ion-icon name="more"></ion-icon>
      </button>
  </ion-navbar>
</ion-header>

<ion-content no-border>
  <h5 class="padding-left">
    Lista de productos
  </h5>
  <hr>
  <ion-grid>
	  <ng-container *ngFor="let producto of products">
      <ion-card>
        <ion-row>
          <ion-col col-1  (click)="delete_product_cart(producto.product_code)">
              <ion-icon name="close"></ion-icon>
          </ion-col>
          <ion-col col-3>
              <img  src="http://www.urbidcr.com/img/product_images/{{producto.product_image}}" />
          </ion-col>
          <ion-col col-4>
              <h4><b>{{producto.product_name}}</b></h4>
              <p>‎Costo:{{producto.product_cost | currency:"₡"}}</p>
          </ion-col>
          <ion-col col-4 align-items-right>
              <div class="counter">
                <button ion-button small class="btn-small" (click)="disminuirCantidadProducto(producto.product_code)">-</button>
                <p class="number"><b>{{producto.product_quantity}}</b></p>
                <button ion-button small class="btn-small" (click)="aumentarCantidadProducto(producto.product_code)">+</button>
              </div>
            </ion-col>
        </ion-row>
      </ion-card>

    </ng-container>
    <ion-card *ngIf="isLoaded && products.length == 0" color="danger" outline>
        <ion-card-content>
            <ion-icon name="alert"></ion-icon> No has agregado productos al carrito
        </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
<ion-footer no-border>
    <button *ngIf="products.length > 0 " class="block padding-null" color="urbid-amber-light" (click)="generate_receipt()" ion-button full strong >Siguiente</button>
</ion-footer>
