<ion-header>
  <ion-navbar color="urbid-turquoise-dark">
    <ion-title>ENVIAR MENSAJE</ion-title>
    <button ion-button menuToggle end class="boton">
        <ion-icon name="more"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <h5 class="padding-left">
        Enviar mensaje de texto al {{client_phone}}
    </h5>
    <ion-row>
      <ion-col col-12>
          <ion-item no-lines>
            <ion-label>Mensaje:</ion-label>
            <ion-textarea rows="3" cols="20" [(ngModel)]="message" placeholder="Ingrese el mensaje"></ion-textarea>
          </ion-item>
          <button ion-button full block color="urbid-login-button" (click)="enviarMensaje()" >ENVIAR</button>
      </ion-col>
    </ion-row>
</ion-content>
