<ion-header>
  <ion-navbar color="urbid-turquoise-dark">
    <ion-title>RECIBO</ion-title>
    <ion-buttons end>
        <button ion-button icon-only  (click)="notification_page()">
          <ion-icon name="notifications" >
            <ion-badge color="urbid-amber-light">10</ion-badge>
          </ion-icon>
        </button>
    </ion-buttons>
    <button ion-button menuToggle end class="boton">
        <ion-icon name="more"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
        <ion-col col-2><b>Cant.</b></ion-col>
        <ion-col col-7><b>Nombre producto</b></ion-col>
        <ion-col col-3><b>Total</b></ion-col>
    </ion-row>
    <hr/>
	  <ion-row *ngFor="let producto of recibo">
      <ion-col col-2>{{producto.product_quantity}}</ion-col>
      <ion-col col-7 text-wrap>{{producto.product_name}}</ion-col>
      <ion-col col-3>{{producto.monto | currency:"₡"}}</ion-col>
    </ion-row>
    <hr/>
    <ion-row>
        <ion-col col-2></ion-col>
        <ion-col col-5 text-right><b>Monto Total:</b></ion-col>
        <ion-col col-4 text-right><b>{{montoTotal | currency:"₡"}}</b></ion-col>
    </ion-row>
    <br/>

    <ion-list radio-group>
      <ion-item>
          <ion-label>Forma de pago</ion-label>
          <ion-select [(ngModel)]="formaPago">
            <ion-option value="EF">Efectivo</ion-option>
            <ion-option value="PU">Puntos URBID</ion-option>
            <ion-option value="SM">SINPE MOVIL</ion-option>
          </ion-select>
      </ion-item>
      <ion-list  *ngIf="formaPago === 'EF'">
          <ion-item>
            <ion-label>¿Con cuanto deseas pagar?</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Monto completo</ion-label>
            <ion-radio value="MC" (click)="ocultarInput()" checked></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Otro monto</ion-label>
            <ion-radio value="OM" (click)="mostrarInput()"></ion-radio>
          </ion-item>
          <ion-item *ngIf="OMI === true">
              <ion-label>Ingrese el monto</ion-label>
            <ion-input type="number" [(ngModel)]="montoPagoIngresado"></ion-input>
          </ion-item>
      </ion-list>
    </ion-list>    
	</ion-grid>
</ion-content>
<ion-footer no-border>
    <button class="block button-width-detail" (click)="geolocation_map()" ion-button full strong color="urbid-amber-light" >Siguiente</button>
</ion-footer>
