page-receipt {
    hr {
        border: 0.3px solid black !important;
        height: 0.5px !important;
        width: 100% !important;
        background: black !important;
        display: block !important;
        opacity: 1 !important;
        visibility: visible !important;
      }
}
