<ion-header>
  <ion-navbar color="urbid-turquoise-dark">
    <ion-title>
				Bienvenido a URBID!
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding> 
  	<ion-card no-border>
			<ion-card-header>
				<ion-img  class="logo" width="100%" height="100%" src="assets/imgs/urbidLogoRepartidor.png" ></ion-img>
			</ion-card-header>
			<ion-card-content>
			<form [formGroup]="loginForm" (ngSubmit)="signin_request(loginForm.value)">
				<ion-item>
					<ion-label ><ion-img src="assets/imgs/flag.png"></ion-img> +506</ion-label>
					<ion-input type="number" placeholder="Ingresa tu número de teléfono móvil" formControlName="phone" name="phone"></ion-input>
				</ion-item>
				<p *ngIf="loginForm.get('phone').errors || mensajeError !== ''" >
					<span style="color: red" ion-text>{{mensajeError}}</span>
				</p>
				<div>
					<button type="submit" ion-button block  full color="urbid-login-button">Ingresar</button>
				</div>
			</form>
			</ion-card-content>
	</ion-card>
</ion-content>
