page-home {
	ion-title{
		text-align:center;
	}
	.logo{
		margin:-20px !important;
	}
}

ion-card-header{
	background-color:white !important;
	height:200px !important;
	text-align:center !important;
	margin:0 !important;
	padding:0 !important;
}
ion-card{
	-webkit-box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0) !important;
}
