<ion-header>
  <ion-navbar color="urbid-turquoise-dark">
    <ion-title>SUBCATEGORÍAS</ion-title>
    <ion-buttons end>
        <button ion-button icon-only  (click)="notification_page()">
            <ion-icon name="notifications" >
                <ion-badge color="urbid-amber-light">10</ion-badge>
            </ion-icon>
        </button>
    </ion-buttons>
    <button ion-button menuToggle end class="boton">
        <ion-icon name="more"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content class="card-background-page background">
    <ng-container *ngFor="let subcategoria of subcategorias">
        <ion-card (click)="product_page(subcategoria.subcategory_code)">
            <img  src="http://www.urbidcr.com/img/subcategory_images/{{subcategoria.subcategory_image}}" style="width: 100%; height: 150px;"/>
            <div class="card-title">{{subcategoria.subcategory_name}}</div>
        </ion-card>
    </ng-container>
</ion-content>
