
<ion-header>
    <ion-navbar color="urbid-turquoise-dark">
        <ion-title>VERIFICACIÓN CELULAR</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h4>Ingrese el código de verificación enviado al teléfono celular +506 {{userData.phone}}</h4>
    <form [formGroup]="signupForm" (ngSubmit)="combrobarToken(signupForm.value)">
        <ion-grid>
            <ion-row justify-content-center>
              <ion-col col-4>
                <ion-label text-right>URBID-</ion-label>
              </ion-col>
              <ion-col col-8 no-padding>
                <ion-input type="number" placeholder="000000" class="phone_code" formControlName="phone_code" name="phone_code_1"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <p>
                <span style="color: red" ion-text>{{mensajeIntentos}}</span>
              </p>
            </ion-row>
        </ion-grid>
        <ion-footer no-border>
            <button class="block button-width-detail" [disabled]="signupForm.controls.phone_code.invalid" ion-button full strong color="urbid-login-button" type="submit" >Siguiente</button>
        </ion-footer>
    </form>
</ion-content>
