<ion-header>
  <ion-navbar color="urbid-turquoise-dark">
    <ion-title>{{producto.product_name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only  (click)="notification_page()">
        <ion-icon name="notifications" >
          <ion-badge color="urbid-amber-light">10</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
    <button ion-button menuToggle end class="boton">
      <ion-icon name="more"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content padding class="card-background-page background">
  <ion-card no-border>
    <ion-grid>
      <ion-row justify-content-end>
        <ion-icon *ngIf="isFavorite == false" class="icono-grande-favorito" name="heart-empty"></ion-icon>
        <ion-icon *ngIf="isFavorite == true" class="icono-grande-favorito" color="urbid-coral-light" (click)="eliminar_producto_favorito(producto.product_code)" name="heart"></ion-icon>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col col-6>
            <img  src="http://www.urbidcr.com/img/product_images/{{producto.product_image}}"/>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-item-divider></ion-item-divider>
      <ion-row justify-content-center>
        <ion-col col-4 (click)="agregar_producto_cesta(producto.product_code)"><b><ion-icon class="small-padding-left" name="cart"></ion-icon>Carrito</b></ion-col>
        <ion-col col-4 (click)="agregar_producto_favorito(producto.product_code)"><b><ion-icon class="small-padding-left" name="heart"></ion-icon> Favoritos</b></ion-col>
      </ion-row>
     </ion-grid>
  </ion-card>
  <ion-grid>
    <ion-row>
        <ion-col class="darkGreen" col-5>Nombre:</ion-col>
        <ion-col class="lightGreen" col-7>{{producto.product_name}}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="darkGreen" col-5>Código:</ion-col>
        <ion-col class="lightGreen" col-7>{{producto.product_code}}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="darkGreen" col-5>Precio x unidad:</ion-col>
        <ion-col class="lightGreen" col-7>{{producto.product_cost | currency:"₡"}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="darkGreen" col-5>Hecho en:</ion-col>
      <ion-col class="lightGreen" col-7>Costa Rica</ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="darkGreen" col-12>Descripción:</ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="lightGreen" col-12>{{producto.product_description}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
