page-decision {
    ion-content{
        background-color: #0097a7 !important;
    }
    .vertical-align-content > *
    {
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
        border:none !important;
    }
    ion-col{
        -webkit-box-shadow: 0 2px 2px 0 transparent !important;
        box-shadow: 0 2px 2px 0 transparent !important;
    }    
}