<ion-content padding color="urbid-turquoise-dark" text-center class="vertical-align-content">
  <ion-grid >
    <ion-row no-border>
          <ion-col no-border>
            <h1 style="color: white;">Bienvenido...</h1>
          </ion-col>
    </ion-row>
</ion-grid>
</ion-content>
