<ion-header>
  <ion-navbar padding color="urbid-turquoise-dark">
    <ion-title>FINALIZAR COMPRA</ion-title>
    <button ion-button menuToggle end class="boton">
        <ion-icon name="more"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content no-border>
  <ion-grid>
      <h5 class="padding-left">
          Ingrese la cantidad de puntos ganados por el cliente
      </h5>
    <ion-row>
      <ion-item>
        <ion-label position="stacked">Puntos ganados:</ion-label>
        <ion-input type="number" [(ngModel)]="puntos"></ion-input>
      </ion-item>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer no-border>
  <button class="block padding-null" color="urbid-login-button"  ion-button full strong (click)="finalizarCompra()" >Finalizar</button>
</ion-footer>
