<ion-header>
  <ion-navbar padding color="urbid-turquoise-dark">
    <ion-title>DETALLE DE COMPRA</ion-title>
    <button ion-button menuToggle end class="boton">
        <ion-icon name="more"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content no-border>
    <h5 class="padding-left">
        Información de compra
      </h5>
    <hr>
    <ion-grid>
      <ion-row>
        <ion-col col-6><b>Código:</b></ion-col>
        <ion-col col-6>{{pedido.codigo}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6><b>Fecha creación:</b></ion-col>
        <ion-col col-6 displayFormat="MM/DD/YYYY">{{pedido.created_at}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6><b>Estado:</b></ion-col>
        <ion-col col-6>{{pedido.status}}</ion-col>
    </ion-row>
      <ion-row>
          <ion-col col-6><b>Forma de pago:</b></ion-col>
          <ion-col col-6>{{pedido.forma_pago}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6><b>Cliente:</b></ion-col>
        <ion-col col-6>{{pedido.client_name}} {{pedido.client_lastName}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6><b>Monto total:</b></ion-col>
        <ion-col col-6>{{pedido.montoTotal | currency:"₡"}}</ion-col>
    </ion-row>
    <hr>
      <h6 class="padding-left">
          Acciones de pedido
      </h6>
      <ion-row>
          <ion-col col-2>
              <button ion-button block  full color="urbid-login-button"  (click)="verMapa(pedido.latitud,pedido.longitud)" >
                  <ion-icon name="navigate"></ion-icon>
              </button>
          </ion-col>
          <ion-col col-3><label text-center>Destino</label></ion-col>
          <ion-col col-2>
              <button ion-button block  full color="urbid-login-button" (click)="finalizarPedido()">
                <ion-icon name="checkmark"></ion-icon>
              </button>
          </ion-col>
          <ion-col col-4><label text-center>Finalizar pedido</label></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2>
            <button ion-button block  full color="urbid-login-button"  (click)="notificarLLegada(pedido.client_id)" >
                <ion-icon name="pin"></ion-icon>
            </button>
        </ion-col>
        <ion-col col-6><label text-center>Notificar llegada</label></ion-col>
      </ion-row>
      <hr>
      <h6 class="padding-left">
          Contacte al cliente
      </h6>
      <ion-row>
        <ion-col col-2>
            <button ion-button block  full color="urbid-login-button"  (click)="llamarRepartidor(pedido.client_phone)" >
                <ion-icon name="call"></ion-icon>
            </button>
        </ion-col>
        <ion-col col-3><label text-center>Llamar</label></ion-col>
        <ion-col col-2>
            <button ion-button block  full color="urbid-login-button" (click)="enviarMensaje(pedido.client_phone)">
                <ion-icon name="text"></ion-icon>
            </button>
        </ion-col>
        <ion-col col-4><label text-center>Enviar mensaje</label></ion-col>
      </ion-row>
    </ion-grid>
    <h6 class="padding-left">
        Lista de productos comprados
      </h6>
    <hr>
    <ion-grid>
        <ng-container *ngFor="let producto of products">
            <ion-card>
              <ion-row>
                <ion-col col-3>
                    <img  src="http://www.urbidcr.com/img/product_images/{{producto.product_image}}" />
                </ion-col>
                <ion-col col-9>
                    <h4><b>{{producto.product_name}}</b></h4>
                    <p>‎Costo por unidad:{{producto.product_cost | currency:"₡"}}</p>
                    <p>Cantidad: {{producto.product_quantity}}</p>
                </ion-col>
              </ion-row>
            </ion-card>
        </ng-container>
    </ion-grid>
    <hr>
</ion-content>
<ion-footer no-border>
  <button class="block padding-null" color="danger"  ion-button full strong (click)="presentAlertConfirm(pedido.codigo,pedido.client_id)" >Cancelar compra</button>
</ion-footer>

