<ion-header>
  <ion-navbar color="urbid-turquoise-dark">
		<ion-title>PRODUCTOS</ion-title>
		<ion-buttons end>
			<button ion-button icon-only  (click)="notification_page()">
				<ion-icon name="notifications" >
					<ion-badge color="urbid-amber-light">10</ion-badge>
				</ion-icon>
			</button>
		</ion-buttons>
		<button ion-button menuToggle end class="boton">
			<ion-icon name="more"></ion-icon>
		</button>
  </ion-navbar>
</ion-header>
<ion-content padding class="card-background-page background">
	<ion-grid>
		<ng-container>
					<ion-row justify-content-start>
							<ion-col col-6 *ngFor="let producto of productos">
									<ion-thumbnail item-start (click)="presentProfileModal(producto)" >
											<img  src="http://www.urbidcr.com/img/product_images/{{producto.product_image}}" />
									</ion-thumbnail>
									<p text-center (click)="presentProfileModal(producto)">
										<b>{{producto.product_name}}</b><br>
										Costo: {{producto.product_cost | currency:"₡"}}</p>
										<button ion-button full outline color="secondary" (click)="agregar_producto_cesta(producto.product_code,1)">
												<ion-icon class="small-padding-left" name="cart"></ion-icon> <b ion-text color="secondary">AGREGAR</b>
										</button>
							</ion-col>
					</ion-row>
		</ng-container>
	</ion-grid>
</ion-content>
