<ion-list>
  <button ion-item (click)="close('call')"><ion-icon name="call"></ion-icon> Llamar</button>
  <button ion-item (click)="close('text')"><ion-icon name="text"></ion-icon> Enviar mensaje</button>
</ion-list>
