page-menu {
    .circulo{
        width:50% !important;
        height:15% !important;
        border-radius: 50% !important;
        color:#0097a7 !important;
    }
    .icon-size{
        font-size: 40px !important;
    }
    .text-size{
        font-size:15px !important;
    }
}
